body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#connectionInfo
{
    color:white;
}

#timer_miaou
{
    font-family: digitalFont;
    color: red;
}

@font-face {
    font-family: digitalFont;
    src: url('../fonts/digital-7 (mono).ttf');
}
