<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="mainApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Bomb Customization</title>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Bootstrap core CSS -->
		<link href="Content/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="Styles/bomb_edition.css" />

		<script src="Scripts/jquery-1.9.1.min.js"></script>
		<script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
		<script src="Scripts/Constellation-1.8.0.js"></script>
		<script src="Scripts/angular.min.js"></script>
		<script src="Scripts/ngConstellation-1.8.0.js"></script>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
		<script src="Scripts/bomb_edition.js"></script>
		<script src="Scripts/bootstrap.min.js"></script>
	</head>
	<body ng-controller="MyController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Home</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="main.html">Bomb</a></li>
						<li><a href="miscellaneous.html">Miscellaneous</a></li>
                        <li><a href="options.html">Options</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container" ng-hide="{{isBomberman}}">
			<h1 class="alert alert-danger text-center">You've got no business here... buddy.</h1>
		</div>
		
		<div ng-show="{{isBomberman}}">
			<div class="container" role="main" ng-show="connectionState">
				<div id="bombEdition" div class="theme-showcase">
					<div ng-show="selectedBomb.MacAddress == macAddress" id="componentList">
						<h1 class="alert alert-info text-center">{{editedBomb.MacAddress}}</h1>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2>Components</h2>
							</div>
							<div class="panel-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th class="label-primary">Interactive</th>
											<th class="label-info">Decorative</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="name in allInteractiveComponentNames" id="componentInfo"><td class="bg-info">{{name}}</td></tr>
										<tr ng-repeat="name in allDecorativeComponentNames" id="componentInfo"><td>{{name}}</td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Timer</h2>
					</div>
					<div class="panel-body text-center">
						<p>
							<input type="number" maxlength="2" ng-model="formattedTime.hours" ng-change="updateTime()" min="0" max="23" /> :
							<input type="number" maxlength="2" ng-model="formattedTime.minutes" ng-change="updateTime()" min="0" max="59" /> :
							<input type="number" maxlength="2" ng-model="formattedTime.seconds" ng-change="updateTime()" min="0" max="59" />
						</p>
						<label class="label label-info">({{editedBomb.TimeInMs}} ms)</label>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Instructions <span class="badge">{{editedBomb.Instructions.length}}</span></h2>
					</div>
					<div ng-repeat="instruction in editedBomb.Instructions track by $index" id="instructionInfo" class="panel-body">
						<p>
							<select ng-model="instruction.ComponentName" ng-options="name for name in allInteractiveComponentNames" ng-change="updateAllInstructionsAfterIndex($index, instruction.ComponentName)"></select>
							<span ng-show="instruction.ComponentState == 'Up'" class="label label-success">Up</span>
							<span ng-show="instruction.ComponentState == 'Down'" class="label label-danger">Down</span>
						</p>
						<h4>Durations</h4>
						<p>
							Minimum: <input type="number" ng-model="instruction.MinDuration" min="0" ng-change="checkMinDuration(instruction, instruction.MinDuration, {{(instruction.MinDuration == undefined) ? 0 : instruction.MinDuration}})" required /> (ms)
							Maximum: <input type="number" ng-model="instruction.MaxDuration" min="0" ng-change="checkMaxDuration(instruction, instruction.MaxDuration, {{(instruction.MaxDuration == undefined) ? 0 : instruction.MaxDuration}})" placeholder="0" required /> (ms)
						</p>
						<p ng-show="(instruction.MinDuration <= 0) && (instruction.MaxDuration <= 0)">Anytime</p>
						<p ng-show="(instruction.MinDuration <= 0) && (instruction.MaxDuration > 0)">Before {{instruction.MaxDuration / 1000}} second(s)</p>
						<p ng-show="(instruction.MinDuration > 0) && (instruction.MaxDuration <= 0)">After {{instruction.MinDuration / 1000}} second(s)</p>
						<p ng-show="(instruction.MinDuration > 0) && (instruction.MaxDuration != 0)">After {{instruction.MinDuration / 1000}} and before {{instruction.MaxDuration / 1000}} second(s)</p>
						<hr />
						<button type="button" class="btn btn-lg btn-primary" ng-click="addNewInstruction($index+1)">+</button>
						<button type="button" class="btn btn-lg btn-primary" ng-click="removeInstruction($index)">-</button>
					</div>
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-lg btn-primary" ng-click="saveEditedBomb()">Confirm</button>
					<button type="button" class="btn btn-lg btn-primary" ng-click="resetEditedBomb()">Cancel</button>
				</div>
			</div>

			<div ng-hide="connectionState">
				<p>Waiting for connection...</p>
			</div>
		</div>
	</body>
</html>
